parameters:
    paths:
        - app/
        - database/
        - routes/
        - tests/
        - bootstrap/app.php

    level: 9
    checkUninitializedProperties: true
    checkOctaneCompatibility: true
    checkModelProperties: true
