parameters:
    paths:
        - app/
        - database/
        - routes/
        - tests/

    level: 9
    checkUninitializedProperties: true
    checkOctaneCompatibility: true
    checkModelProperties: true
